.one-third.column
  h3 Timeline
  each item in timeline
   img(src="#{item.logo}", align="left", style="#{item.logoStyle}") 
   h5
    a(href= "#{item.url}", target="_blank") #{item.company}
   h6 #{item.job}
   p 
    | #{item.time}
  hr
.one-third.column
  h3 Skills
  h5 Compiled Languages
  p
   | Objective-C/C/C++, JAVA (Android)
  p
   | Design patterns, algorithm optimization, compilation, code analysis
  h5 Web Languages
  p
   | HTML/XHTML, CSS, MySQL, PHP, RAILS
  h5 Library & Framework
  p
   | Cocoa (Appkit/UIKit), Qt, JQuery...
  h5 CMS
  p 
   | Wordpress, Liferay, Drupal, Joomla 
  h5 Other
  p
   | Strongly passionate about pixel perfect and beautiful user interface 
  p
   | User experience must be the center of gravity of the application
  hr